.center{
    text-align: center;
}
.box{
    height:500px;
    border: 2px solid lightgray;
    border border-radius: 5px;
    margin: 65px auto;
    width:650px;
}
.image1{
    height:100px;
    border-radius: 300px;
    margin: auto 30px;

}
.image2{
    height: 100px;
    border-radius: 300px;
    margin: auto 110px;

}
.image{
    margin-left: 40px;
    width:110%
}
.profile{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-left: :20px;
    margin-top:10px;
    
}